                %nav-top-base-before {
                    content: "";
                    display: inline-block;
                    width: 19px;
                    background-size: contain;
                    height: 17px;
                    vertical-align: baseline;
                    margin-right: 5px;
                    transition: all 1s;
                    opacity: 1;
                }
                
                %nav-top-base-after {
                    content: "";
                    width: calc(100% + 33px);
                    height: 100%;
                    position: absolute;
                    top: -8px;
                    left: 0px;
                    bottom: 0;
                    transition: all 1s;
                    opacity: 0;
                }