@charset "UTF-8";
/*html5resetcss*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: 'メイリオ', 'Meiryo', 'ＭＳ ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

a {
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* 全体 */
img {
  max-width: 100%;
}

li {
  list-style: none;
}

/*レスポンシブ */
/* ヘッダー */
.btn-menu {
  display: none;
}

.logo {
  max-width: 1085px;
  width: 100%;
  margin: 0 auto 35px;
  padding: 20px 0px;
}

@media only screen and (max-width: 1100px) {
  .logo {
    text-align: center;
  }
}

/* グローバルナビゲーション */
nav {
  margin: 0 auto 15px;
  z-index: 1;
  width: 100%;
  top: 68px;
  position: absolute;
}

nav.fixed {
  left: 0;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #fff;
}

@media only screen and (max-width: 845px) {
  nav {
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 2;
  }
}

.nav-main {
  display: flex;
  justify-content: center;
  /* ナビリンク_TOP */
  /* ナビリンク_きのめ保育園について */
  /* ナビリンク_ 一日の流れ */
  /* ナビリンク_料金 */
}

.nav-main li {
  font-size: 18px;
}

.nav-main > li + li {
  margin-left: 135px;
}

.nav-main li > a {
  position: relative;
}

.nav-main a:hover {
  color: #61ba5a;
}

.nav-main .nav-top a::before {
  background: url(../images/nav_top.gif) no-repeat 50% 100%;
}

.nav-main .nav-top a::after {
  background: url(../images/icon_hover.gif) no-repeat 96% 0px;
}

.nav-main .nav-top a:hover::after {
  opacity: 1;
}

.nav-main .nav-top a:hover::before {
  opacity: 0;
  width: 19px;
}

@media only screen and (max-width: 845px) {
  .nav-main {
    flex-direction: column;
    height: 100%;
  }
  .nav-main > li {
    text-align: center;
    padding: 20px 0;
  }
  .nav-main > li + li {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1100px) {
  .nav-main {
    justify-content: space-evenly;
  }
  .nav-main > li + li {
    margin-left: 0px;
  }
}

.nav-main .nav-about a::before {
  background: url(../images/nav_about.gif) no-repeat 50% 100%;
}

.nav-main .nav-about a::after {
  background: url(../images/icon_hover.gif) no-repeat 96% 0px;
}

.nav-main .nav-about a:hover::after {
  opacity: 1;
}

.nav-main .nav-about a:hover::before {
  opacity: 0;
  width: 19px;
}

.nav-main .nav-flow a::before {
  background: url(../images/nav_flow.gif) no-repeat 50% 100%;
}

.nav-main .nav-flow a::after {
  background: url(../images/icon_hover.gif) no-repeat 96% 0px;
}

.nav-main .nav-flow a:hover::after {
  opacity: 1;
}

.nav-main .nav-flow a:hover::before {
  opacity: 0;
  width: 19px;
}

.nav-main .nav-price a::before {
  background: url(../images/nav_price.gif) no-repeat 50% 100%;
}

.nav-main .nav-price a::after {
  background: url(../images/icon_hover.gif) no-repeat 96% 0px;
}

.nav-main .nav-price a:hover::after {
  opacity: 1;
}

.nav-main .nav-price a:hover::before {
  opacity: 0;
  width: 19px;
}

/* ナビリンク前後のアイコン */
.nav-main .nav-top a::before, .nav-main .nav-about a::before, .nav-main .nav-flow a::before, .nav-main .nav-price a::before {
  content: "";
  display: inline-block;
  width: 19px;
  background-size: contain;
  height: 17px;
  vertical-align: baseline;
  margin-right: 5px;
  transition: all 1s;
  opacity: 1;
}

.nav-main .nav-top a::after, .nav-main .nav-about a::after, .nav-main .nav-flow a::after, .nav-main .nav-price a::after {
  content: "";
  width: calc(100% + 33px);
  height: 100%;
  position: absolute;
  top: -8px;
  left: 0px;
  bottom: 0;
  transition: all 1s;
  opacity: 0;
}

.nav-top .nav-about .nav-flow .nav-price {
  position: relative;
}

/* メインビジュアル */
.loop_wrap {
  display: none;
}

.main-visual {
  position: relative;
}

/* ニュース一覧 */
.news {
  position: absolute;
  border-radius: 10px;
  bottom: 30px;
  left: 0;
  right: 0;
  max-width: 1000px;
  border: solid #61ba5a 4px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
}

.news > h2::before {
  content: "";
  display: inline-block;
  width: 26px;
  background-size: contain;
  height: 24px;
  margin-right: 5px;
  vertical-align: -5px;
  background: url(../images/nav_top.gif) no-repeat 10% 46%/26px;
}

.news > h2 {
  max-width: 155px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #61ba5a;
  margin: auto;
  text-align: center;
}

.news ul {
  padding: 10px 10px 10px 30px;
  width: calc(100% / 1);
}

.news ul li {
  display: flex;
  padding: 10px 10px 10px 0px;
}

.news ul li > span {
  display: flex;
  font-weight: bold;
  font-size: 14px;
}

@media only screen and (max-width: 1100px) {
  .news {
    display: block;
    z-index: 1;
    width: 90%;
  }
  .news > h2 {
    margin: 10px auto 0px;
  }
  .news > p {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
  }
  .news ul {
    padding: 10px 10px 10px 0px;
  }
  .news ul li {
    margin: 0px 10px;
  }
}

.newslist {
  margin-left: 20px;
}

.newslist > a:hover {
  color: #61ba5a;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  /* メインビジュアル_メイン画像3枚 */
}

.photo-wrap li {
  height: 530px;
}

.photo-wrap li img {
  position: absolute;
  top: 25px;
}

@media only screen and (max-width: 1100px) {
  .photo-wrap > li + li img {
    display: none;
  }
}

.photo-wrap .photoBkg01 {
  background: url(../images/main_photo_01.jpg) no-repeat 50% 100%/100%;
  width: 100%;
  background-size: cover;
}

.photo-wrap .photoBkg01 img {
  left: 9%;
}

@media only screen and (max-width: 845px) {
  .photo-wrap .photoBkg01 {
    display: none;
  }
}

.photo-wrap .photoBkg02 {
  background: url(../images/main_photo_02.jpg) no-repeat 50% 100%/100%;
  width: 100%;
  background-size: cover;
}

.photo-wrap .photoBkg02 img {
  left: 37%;
}

@media only screen and (max-width: 845px) {
  .photo-wrap .photoBkg02 {
    display: none;
  }
}

.photo-wrap .photoBkg03 {
  background: url(../images/main_photo_03.jpg) no-repeat 50% 100%/100%;
  width: 100%;
  background-size: cover;
}

.photo-wrap .photoBkg03 img {
  right: 6%;
}

@media only screen and (max-width: 845px) {
  .photo-wrap .photoBkg03 {
    display: none;
  }
}

/*   メインビジュアル_上下の波型模様 */
.ScallopWrap {
  width: 100%;
  margin: 0 auto;
}

.ScallopWrap::before {
  background: radial-gradient(circle at 50% 0%, #fff 15px, #fff 15px, transparent 16px);
  z-index: 1;
  position: absolute;
  content: " ";
  left: 0px;
  right: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-repeat: repeat-x;
  height: 16px;
  background-size: 30px 100px;
}

.ScallopWrap::after {
  background: radial-gradient(circle at 50% 0%, transparent 15px, #fff4ea 16px, #fff4ea 100%);
  z-index: 1;
  position: absolute;
  content: " ";
  left: 0px;
  right: 0;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  background-repeat: repeat-x;
  height: 20px;
  background-size: 30px 100px;
}

/* メインコンテンツ */
.section-icon {
  position: relative;
  top: -26px;
  text-align: center;
}

.section-icon img {
  position: absolute;
  left: 46%;
}

@media only screen and (max-width: 1100px) {
  .section-icon {
    position: relative;
    text-align: center;
    top: 0px;
  }
  .section-icon img {
    position: static;
  }
}

.section-inner {
  padding: 0px 10px 0px;
  max-width: 1400px;
  margin: 0 auto;
}

.section-inner .link-text > a:hover {
  color: #61ba5a;
}

/* トップ */
.top .section-inner h2 {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 65px;
  font-size: 30px;
  font-weight: lighter;
}

.top .section-inner p::before {
  content: "";
  display: inline-block;
  background: url(../images/icon_arrow.gif) no-repeat 50% 100%;
  width: 18px;
  background-size: contain;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

@media only screen and (max-width: 1100px) {
  .top .section-inner h2 {
    margin-bottom: 15px;
    padding-top: 15px;
    font-size: 21px;
  }
}

/* トップ_きのめ保育園について*/
.about {
  background-color: #fff4ea;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 70px;
  /* 波型模様 */
}

.about .section-inner {
  background: url(../images/About_bkg01.gif), url(../images/About_bkg02.gif);
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom 8%;
  background-size: contain;
  background-size: 70%, 70%;
}

.about .section-inner figure {
  border-radius: 50%;
  background-color: #fff;
  width: 240px;
  height: 240px;
  text-align: center;
  position: relative;
}

.about .section-ScallopWrap::after {
  background: radial-gradient(circle at 50% 0%, #fff4ea 15px, #fff4ea 15px, transparent 16px);
  position: absolute;
  content: " ";
  left: 0px;
  right: 0;
  bottom: -16px;
  width: 100%;
  margin: 0 auto;
  background-repeat: repeat-x;
  height: 20px;
  background-size: 30px 100px;
}

.about ul {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1120px;
}

.about ul li {
  margin: 0 45px 40px;
}

.about ul li p {
  width: 240px;
}

@media only screen and (max-width: 845px) {
  .about {
    padding-top: 20px;
  }
  .about .section-inner {
    background: none;
  }
}

@media only screen and (max-width: 1100px) {
  .about .section-inner figure {
    margin: 0 auto;
  }
}

/* トップ_一日の流れ*/
.flow {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 95px 0px 20px;
  /* 波型模様 */
}

.flow .section-inner {
  background: url(../images/Flow_bkg.gif) no-repeat center top/70% content-box;
  background-size: contain;
  padding-bottom: 40px;
}

.flow .section-inner figure {
  border-radius: 50%;
  background-color: #fff4ea;
  width: 240px;
  height: 240px;
  text-align: center;
  position: relative;
}

.flow .section-ScallopWrap::after {
  background: radial-gradient(circle at 50% 46%, #fff4ea 15px, #fff4ea 15px, transparent 16px);
  position: absolute;
  content: " ";
  left: 0px;
  right: 0;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  background-repeat: repeat-x;
  height: 40px;
  background-size: 30px 100px;
}

.flow ul {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1120px;
}

.flow ul li {
  margin: 0 45px 40px;
}

.flow ul li p {
  width: 240px;
}

@media only screen and (max-width: 845px) {
  .flow {
    padding-top: 40px;
  }
  .flow .section-inner {
    background: none;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 1100px) {
  .flow .section-inner figure {
    margin: 0 auto;
  }
}

/* トップ_料金*/
.price {
  background-color: #fff4ea;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 70px;
  /* 波型模様 */
}

.price .section-inner {
  background: url(../images/Price_bkg.gif) no-repeat center top/70% content-box;
  background-size: contain;
}

.price .section-inner figure {
  border-radius: 50%;
  background-color: #fff;
  width: 240px;
  height: 240px;
  text-align: center;
  position: relative;
}

.price .section-ScallopWrap::after {
  background: radial-gradient(circle at 50% 0%, #fff4ea 15px, #fff4ea 15px, transparent 16px);
  position: absolute;
  content: " ";
  left: 0px;
  right: 0;
  bottom: -40px;
  width: 100%;
  margin: 0 auto;
  background-repeat: repeat-x;
  height: 41px;
  background-size: 30px 100px;
}

.price ul {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1120px;
}

.price ul li {
  margin: 0 45px 40px;
}

.price ul li p {
  width: 240px;
}

@media only screen and (max-width: 845px) {
  .price {
    padding-top: 20px;
  }
  .price .section-inner {
    background: none;
  }
}

@media only screen and (max-width: 1100px) {
  .price .section-inner figure {
    width: 160px;
    height: 160px;
    margin: 0 auto;
  }
}

.about-list img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 845px) {
  .about-list img {
    width: 70%;
  }
}

.link-text {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}

/* 下層 */
.current {
  padding-left: 24px;
  margin-top: 2px;
}

.lower {
  /* 下層_保育園の概要 */
  /* 下層_保育理念・保育方針・保育目標 */
  /* 下層_入園決定までの流れ */
}

.lower section {
  margin-bottom: 50px;
}

.lower .section-inner {
  position: relative;
  max-width: 1100px;
}

.lower .section-inner h2 {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  font-size: 22px;
  max-width: 1345px;
  width: 100%;
  align-items: center;
  background-color: #fff4ea;
  font-weight: bold;
  padding: 15px 0px;
}

.lower .section-inner h2 span::before {
  content: " ";
  display: inline-block;
  vertical-align: bottom;
  right: 0;
  top: 0px;
  z-index: 1;
  width: 39px;
  height: 28px;
  background: url(../images/nav_top.gif) no-repeat 50% 100%/28px;
}

.lower .section-inner h2 span {
  margin-left: 10px;
}

.lower .about-gaiyo table tr td:nth-child(1) {
  background-color: #d3efd2;
  padding: 18px;
  text-align: center;
  width: 15%;
}

.lower .about-gaiyo table tr td:nth-child(2) {
  background-color: #eaf7e9;
  padding-left: 30px;
}

.lower table {
  border-collapse: separate;
  border-spacing: 1px;
  width: 100%;
  margin: 20px 0px;
}

.lower .about-hoshin dl dt {
  width: 100%;
  margin: 20px 0px 10px;
  font-weight: bold;
}

.lower .about-hoshin ul li {
  background: url(../images/icon_star.gif) no-repeat 0% 10%;
  height: 10px;
  padding: 0px 0px 20px 20px;
}

.lower .about-hoshin p {
  padding: 1px 0px 0px 25px;
  background: url(../images/icon_arrow.gif) no-repeat 0% 0%/16px;
  line-height: 130%;
}

.lower .about-hoshin p a:hover {
  color: #61ba5a;
}

.lower .about-flow ul li {
  margin-top: 20px;
  color: #e95563;
  font-weight: bold;
}

.lower .about-flow ul li:nth-child(1) {
  margin-bottom: 20px;
}

.lower .about-flow ul li:nth-child(1)::before {
  content: "STEP1";
  border-radius: 5px;
  background-color: #e95563;
  color: #fff;
  font-weight: bold;
  padding: 10px 25px;
  display: inline-block;
}

.lower .about-flow ul li:nth-child(2)::before {
  content: "STEP2";
  border-radius: 5px;
  background-color: #e95563;
  color: #fff;
  font-weight: bold;
  padding: 10px 25px;
  display: inline-block;
}

.lower .about-flow ul li:nth-child(3)::before {
  content: "STEP3";
  border-radius: 5px;
  background-color: #e95563;
  color: #fff;
  font-weight: bold;
  padding: 10px 25px;
  display: inline-block;
}

.lower .about-flow ul li p {
  margin-top: 10px;
  color: #000;
  font-weight: 100;
}

@media only screen and (max-width: 845px) {
  .lower .section-inner h2 {
    font-weight: lighter;
  }
  .lower .about-gaiyo table tr td:nth-child(1) {
    width: 100%;
    padding: 10px 0px;
    display: block;
  }
  .lower .about-gaiyo table tr td:nth-child(2) {
    width: 100%;
    padding: 10px 0px;
    display: block;
  }
}

.lower-visual {
  position: relative;
  height: 156px;
  background-color: #fff4ea;
  width: 100%;
  margin: 0 auto 50px;
  /* 波型模様 */
}

.lower-visual h1 {
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin-top: 16px;
}

@media only screen and (max-width: 845px) {
  .lower-visual h1 {
    font-size: 22px;
    width: 100%;
    text-align: center;
  }
}

.lower-visual a::after {
  background: radial-gradient(circle at 50% 0%, #fff4ea 15px, #fff4ea 15px, transparent 16px);
  position: absolute;
  content: " ";
  left: 0px;
  right: 0;
  bottom: -16px;
  width: 100%;
  margin: 0 auto;
  background-repeat: repeat-x;
  height: 16px;
  background-size: 30px 100px;
}

.lower-visual a::before {
  background: radial-gradient(circle at 50% 0%, #fff 15px, #fff 15px, transparent 16px);
  position: absolute;
  content: " ";
  left: 0px;
  right: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-repeat: repeat-x;
  height: 16px;
  background-size: 30px 100px;
}

/* フッター */
footer {
  padding: 60px 0px;
  font-size: small;
  text-align: center;
}

/* レスポンシブ　メニューボタン */
@media only screen and (max-width: 845px) {
  .btn-menu {
    display: block;
    position: fixed;
    z-index: 3;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    border: none;
    background: #61ba5a;
  }
}

@media only screen and (max-width: 845px) {
  .btn-menu-lines {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 2px;
    margin: auto;
    background: #fff;
  }
  .btn-menu-lines::before {
    top: 6px;
    position: absolute;
    left: 0;
    width: 20px;
    height: 2px;
    background: #fff;
    content: "";
    -webkit-transition: .3s;
    transition: .3s;
  }
  .btn-menu-lines::after {
    position: absolute;
    left: 0;
    width: 20px;
    height: 2px;
    background: #fff;
    content: "";
    -webkit-transition: .3s;
    transition: .3s;
    top: -6px;
  }
}

.btn-menu.is-animate .btn-menu-lines {
  background: none;
}

.btn-menu.is-animate .btn-menu-lines::before {
  -webkit-transform: rotate3d(0, 0, 2, 45deg);
  transform: rotate3d(0, 0, 2, 45deg);
  top: 0;
}

.btn-menu.is-animate .btn-menu-lines::after {
  -webkit-transform: rotate3d(0, 0, 2, -45deg);
  transform: rotate3d(0, 0, 2, -45deg);
  top: 0;
}

/* レスポンシブ　メインビジュアルスライド*/
@-webkit-keyframes loop {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes loop2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

@keyframes loop2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

@media only screen and (max-width: 845px) {
  .loop_wrap {
    display: flex;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
  }
  .loop_wrap img {
    max-width: none;
    width: auto;
    height: 100%;
  }
  .loop_wrap img:first-child {
    animation: loop 80s -40s linear infinite;
  }
  .loop_wrap img:last-child {
    animation: loop2 80s linear infinite;
  }
}

/* resetはどうする？ */
