@import "_include";

/*html5resetcss*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1;
    font-family: 'メイリオ', 'Meiryo', 'ＭＳ ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}


/* 全体 */

img {
    max-width: 100%;
}

li {
    list-style: none;
}

$green:#61ba5a;

/*レスポンシブ */

$breakpoints: (sp: 845px, tb: 1100px);
@mixin sp {
    @media only screen and (max-width: map-get($breakpoints, sp)) {
        @content;
    }
}

@mixin tb {
    @media only screen and (max-width: map-get($breakpoints, tb)) {
        @content;
    }
}


/* ヘッダー */

.btn-menu {
    display: none;
}

.logo {
    max-width: 1085px;
    width: 100%;
    margin: 0 auto 35px;
    padding: 20px 0px;
    @include tb {
        text-align: center;
    }
}


/* グローバルナビゲーション */

nav {
    margin: 0 auto 15px;
    z-index: 1;
    width: 100%;
    ;
    top: 68px;
    position: absolute;
    &.fixed {
        left: 0;
        padding: 20px 0px;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        ;
    }
    @include sp {
        height: 100vh;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, .9);
        z-index: 2;
    }
}

.nav-main {
    display: flex;
    justify-content: center;
    li {
        font-size: 18px;
    }
    >li+li {
        margin-left: 135px;
    }
    li>a {
        position: relative;
    }
    a {
        &:hover {
            color: $green;
        }
    }
    /* ナビリンク_TOP */
    .nav-top {
        a {
            &::before {
                @extend %nav-top-base-before;
                background: url(../images/nav_top.gif) no-repeat 50% 100%;
            }
            &::after {
                @extend %nav-top-base-after;
                background: url(../images/icon_hover.gif) no-repeat 96% 0px;
            }
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
            &:hover {
                &::before {
                    opacity: 0;
                    width: 19px;
                }
            }
        }
    }
    @include sp {
        flex-direction: column;
        height: 100%;
        >li {
            text-align: center;
            padding: 20px 0;
        }
        >li+li {
            margin-left: 0px;
        }
    }
    @include tb {
        justify-content: space-evenly;
        >li+li {
            margin-left: 0px;
        }
    }
    /* ナビリンク_きのめ保育園について */
    .nav-about {
        a {
            &::before {
                @extend %nav-top-base-before;
                background: url(../images/nav_about.gif) no-repeat 50% 100%;
            }
            &::after {
                @extend %nav-top-base-after;
                background: url(../images/icon_hover.gif) no-repeat 96% 0px;
            }
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
            &:hover {
                &::before {
                    opacity: 0;
                    width: 19px;
                }
            }
        }
    }
    /* ナビリンク_ 一日の流れ */
    .nav-flow {
        a {
            &::before {
                @extend %nav-top-base-before;
                background: url(../images/nav_flow.gif) no-repeat 50% 100%;
            }
            &::after {
                @extend %nav-top-base-after;
                background: url(../images/icon_hover.gif) no-repeat 96% 0px;
            }
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
            &:hover {
                &::before {
                    opacity: 0;
                    width: 19px;
                }
            }
        }
    }
    /* ナビリンク_料金 */
    .nav-price {
        a {
            &::before {
                @extend %nav-top-base-before;
                background: url(../images/nav_price.gif) no-repeat 50% 100%;
            }
            &::after {
                @extend %nav-top-base-after;
                background: url(../images/icon_hover.gif) no-repeat 96% 0px;
            }
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
            &:hover {
                &::before {
                    opacity: 0;
                    width: 19px;
                }
            }
        }
    }
}


/* ナビリンク前後のアイコン */

@import "_extend";
#{selector-nest(".nav-top", ".nav-about", ".nav-flow",".nav-price")} {
    position: relative;
}


/* メインビジュアル */

.loop_wrap {
    display: none;
}

.main-visual {
    position: relative;
}


/* ニュース一覧 */

.news {
    position: absolute;
    border-radius: 10px;
    bottom: 30px;
    left: 0;
    right: 0;
    max-width: 1000px;
    border: solid $green 4px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    >h2 {
        &::before {
            content: "";
            display: inline-block;
            width: 26px;
            background-size: contain;
            height: 24px;
            margin-right: 5px;
            vertical-align: -5px;
            background: url(../images/nav_top.gif) no-repeat 10% 46% /26px;
        }
    }
    >h2 {
        max-width: 155px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        color: $green;
        margin: auto;
        text-align: center;
    }
    ul {
        padding: 10px 10px 10px 30px;
        width: calc(100% / 1);
        li {
            display: flex;
            padding: 10px 10px 10px 0px;
        }
        li>span {
            display: flex;
            font-weight: bold;
            font-size: 14px;
        }
    }
    @include tb {
        display: block;
        z-index: 1;
        width: 90%;
        >h2 {
            margin:10px auto 0px;
        }
        >p {
            display: block;
            text-align: center;
            width: 100%;
            padding: 10px 0px;
        }
        ul {
            padding: 10px 10px 10px 0px;
            li {
                margin: 0px 10px;
            }
        }
    }
}

.newslist {
    margin-left: 20px;
    >a {
        &:hover {
            color: $green;
        }
    }
}

.photo-wrap {
    display: flex;
    justify-content: center;
    li {
        height: 530px;
        img {
            position: absolute;
            top: 25px;
        }
    }
    >li+li img {
        @include tb {
            display: none;
        }
    }
    /* メインビジュアル_メイン画像3枚 */
    .photoBkg01 {
        background: url(../images/main_photo_01.jpg) no-repeat 50% 100%/100%;
        width: 100%;
        background-size: cover;
        img {
            left: 9%;
        }
        @include sp {
            display: none;
        }
    }
    .photoBkg02 {
        background: url(../images/main_photo_02.jpg) no-repeat 50% 100%/100%;
        width: 100%;
        background-size: cover;
        img {
            left: 37%;
        }
        @include sp {
            display: none;
        }
    }
    .photoBkg03 {
        background: url(../images/main_photo_03.jpg) no-repeat 50% 100%/100%;
        width: 100%;
        background-size: cover;
        img {
            right: 6%;
        }
        @include sp {
            display: none;
        }
    }
}


/*   メインビジュアル_上下の波型模様 */

.ScallopWrap {
    width: 100%;
    margin: 0 auto;
    &::before {
        background: radial-gradient(circle at 50% 0%, #fff 15px, #fff 15px, transparent 16px);
        z-index: 1;
        @include ScallopWrapB(16px);
    }
    &::after {
        background: radial-gradient(circle at 50% 0%, transparent 15px, #fff4ea 16px, #fff4ea 100%);
        z-index: 1;
        @include ScallopWrapA(20px, 0px);
    }
}


/* メインコンテンツ */

.section-icon {
    position: relative;
    top: -26px;
    text-align: center;
    img {
        position: absolute;
        left: 46%;
    }
    @include tb {
        position: relative;
        text-align: center;
        top: 0px;
        img {
            position: static;
        }
    }
}

.section-inner {
    padding: 0px 10px 0px;
    max-width: 1400px;
    margin: 0 auto;
    .link-text {
        >a {
            &:hover {
                color: $green;
            }
        }
    }
}


/* トップ */

.top {
    .section-inner {
        h2 {
            text-align: center;
            margin-bottom: 50px;
            padding-top: 65px;
            font-size: 30px;
            font-weight: lighter;
        }
        p {
            &::before {
                content: "";
                display: inline-block;
                background: url(../images/icon_arrow.gif) no-repeat 50% 100%;
                width: 18px;
                background-size: contain;
                height: 18px;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        @include tb {
            h2 {
                margin-bottom: 15px;
                padding-top: 15px;
                font-size: 21px;
            }
        }
    }
}


/* トップ_きのめ保育園について*/

.about {
    background-color: #fff4ea;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 70px;
    .section-inner {
        background: url(../images/About_bkg01.gif) ,url(../images/About_bkg02.gif);
        background-repeat: no-repeat,no-repeat;
        background-position: center top,center bottom 8%;
        background-size: contain;
        background-size: 70%,70%;
        figure {
            @include figure(#fff)
        }
    }
    /* 波型模様 */
    .section-ScallopWrap::after {
        background: radial-gradient(circle at 50% 0%, #fff4ea 15px, #fff4ea 15px, transparent 16px);
        @include ScallopWrapA(20px, -16px);
    }
    ul {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1120px;
        li {
            margin: 0 45px 40px;
            p {
                width: 240px;
            }
        }
    }
    @include sp {
        padding-top: 20px;
        .section-inner {
            background: none;
        }
    }
    @include tb {
        .section-inner figure {
            margin: 0 auto;
        }
    }
}


/* トップ_一日の流れ*/

.flow {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 95px 0px 20px;
    .section-inner {
        background: url(../images/flow_bkg.gif) no-repeat center top/70% content-box;
        background-size: contain;
        figure {
            @include figure(#fff4ea)
        }
    }
    /* 波型模様 */
    .section-ScallopWrap {
        &::after {
            background: radial-gradient(circle at 50% 46%, #fff4ea 15px, #fff4ea 15px, transparent 16px);
            @include ScallopWrapA(40px, 0px);
        }
    }
    ul {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1120px;
        li {
            margin: 0 45px 40px;
            p {
                width: 240px;
            }
        }
    }
    @include sp {
        padding-top: 40px;
        .section-inner {
            background: none;
        }
    }
    @include tb {
        .section-inner figure {
            margin: 0 auto;
        }
    }
}


/* トップ_料金*/

.price {
    background-color: #fff4ea;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 70px;
    .section-inner {
        background: url(../images/Price_bkg.gif) no-repeat center top/70% content-box;
        background-size: contain;
        figure {
            @include figure(#fff)
        }
    }
    /* 波型模様 */
    .section-ScallopWrap::after {
        background: radial-gradient(circle at 50% 0%, #fff4ea 15px, #fff4ea 15px, transparent 16px);
        @include ScallopWrapA(41px, -40px);
    }
    ul {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1120px;
        li {
            margin: 0 45px 40px;
            p {
                width: 240px;
            }
        }
    }
    @include sp {
        padding-top: 20px;
        .section-inner {
            background: none;
        }
    }
    @include tb {
        .section-inner figure {
            width: 160px;
            height: 160px;
            margin: 0 auto;
        }
    }
}

.about-list img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sp {
        width: 70%;
    }
}

.link-text {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}


/* 下層 */

.current {
    padding-left: 24px;
    margin-top: 2px;
}

.lower {
    section {
        margin-bottom: 50px;
    }
    .section-inner {
        position: relative;
        max-width: 1100px;
        h2 {
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
            font-size: 22px;
            max-width: 1345px;
            width: 100%;
            align-items: center;
            background-color: #fff4ea;
            font-weight: bold;
            padding: 15px 0px;
            span {
                &::before {
                    content: " ";
                    display: inline-block;
                    vertical-align: bottom;
                    right: 0;
                    top: 0px;
                    z-index: 1;
                    width: 39px;
                    height: 28px;
                    background: url(../images/nav_top.gif) no-repeat 50% 100% /28px;
                }
            }
            span {
                margin-left: 10px;
            }
        }
    }
    /* 下層_保育園の概要 */
    .About-gaiyo {
        table tr td:nth-child(1) {
            background-color: #d3efd2;
            padding: 18px;
            text-align: center;
            width: 15%;
        }
        table tr td:nth-child(2) {
            background-color: #eaf7e9;
            padding-left: 30px;
        }
    }
    table {
        border-collapse: separate;
        border-spacing: 1px;
        width: 100%;
        margin: 20px 0px;
    }
    /* 下層_保育理念・保育方針・保育目標 */
    .About-hoshin {
        dl dt {
            width: 100%;
            margin: 20px 0px 10px;
            font-weight: bold;
        }
        ul li {
            background: url(../images/icon_star.gif) no-repeat 0% 10%;
            height: 10px;
            padding: 0px 0px 20px 20px;
        }
        p {
            padding: 1px 0px 0px 25px;
            background: url(../images/icon_arrow.gif) no-repeat 0% 0%/16px;
            line-height: 130%;
            a {
                &:hover {
                    color: $green;
                }
            }
        }
    }
    /* 下層_入園決定までの流れ */
    .About-flow {
        ul {
            li {
                margin-top: 20px;
                color: #e95563;
                font-weight: bold;
                &:nth-child(1) {
                    margin-bottom: 20px;
                }
                &:nth-child(1)::before {
                    @include step("STEP1");
                }
                &:nth-child(2)::before {
                    @include step("STEP2");
                }
                &:nth-child(3)::before {
                    @include step("STEP3");
                }
                p {
                    margin-top: 10px;
                    color: #000;
                    font-weight: 100;
                }
            }
        }
    }
    @include sp {
        .section-inner h2 {
            font-weight: lighter;
        }
        .About-gaiyo {
            table tr td:nth-child(1) {
                width: 100%;
                padding: 10px 0px;
                display: block;
            }
            table tr td:nth-child(2) {
                width: 100%;
                padding: 10px 0px;
                display: block;
            }
        }
    }
}

.lower-visual {
    position: relative;
    height: 156px;
    background-color: #fff4ea;
    width: 100%;
    margin: 0 auto 50px;
    h1 {
        font-size: 28px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        margin-top: 16px;
    }
    @include sp {
        h1 {
            font-size: 22px;
            width: 100%;
            text-align: center;
        }
    }
    /* 波型模様 */
    a {
        &::after {
            background: radial-gradient(circle at 50% 0%, #fff4ea 15px, #fff4ea 15px, transparent 16px);
            @include ScallopWrapA(16px, -16px);
        }
        &::before {
            background: radial-gradient(circle at 50% 0%, #fff 15px, #fff 15px, transparent 16px);
            @include ScallopWrapB(16px);
        }
    }
}


/* フッター */

footer {
    padding: 60px 0px;
    font-size: small;
    text-align: center;
}


/* レスポンシブ　メニューボタン */

.btn-menu {
    @include sp {
        display: block;
        position: fixed;
        z-index: 3;
        top: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        border: none;
        background: $green;
    }
}

.btn-menu-lines {
    @include sp {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 2px;
        margin: auto;
        background: #fff;
        &::before {
            top: 6px;
            position: absolute;
            left: 0;
            width: 20px;
            height: 2px;
            background: #fff;
            content: "";
            -webkit-transition: .3s;
            transition: .3s;
        }
        &::after {
            position: absolute;
            left: 0;
            width: 20px;
            height: 2px;
            background: #fff;
            content: "";
            -webkit-transition: .3s;
            transition: .3s;
            top: -6px;
        }
    }
}

.btn-menu {
    &.is-animate {
        .btn-menu-lines {
            background: none;
        }
        .btn-menu-lines::before {
            -webkit-transform: rotate3d(0, 0, 2, 45deg);
            transform: rotate3d(0, 0, 2, 45deg);
            top: 0;
        }
        .btn-menu-lines::after {
            -webkit-transform: rotate3d(0, 0, 2, -45deg);
            transform: rotate3d(0, 0, 2, -45deg);
            top: 0;
        }
    }
}


/* レスポンシブ　メインビジュアルスライド*/

@mixin keyframes($name, $webkit:true, $moz: false, $ms: false, $o: false) {
    @if $webkit {
        @-webkit-keyframes #{$name} {
            @content;
        }
    }
    @if $moz {
        @-moz-keyframes #{$name} {
            @content;
        }
    }
    @if $ms {
        @-ms-keyframes #{$name} {
            @content;
        }
    }
    @if $o {
        @-o-keyframes #{$name} {
            @content;
        }
    }
    @keyframes #{$name} {
        @content;
    }
}

@include keyframes(loop) {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@include keyframes(loop2) {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}

.loop_wrap {
    @include sp {
        display: flex;
        width: 100vw;
        height: 100vw;
        overflow: hidden;
        img {
            max-width: none;
            width: auto;
            height: 100%;
        }
        img:first-child {
            animation: loop 80s -40s linear infinite;
        }
        img:last-child {
            animation: loop2 80s linear infinite;
        }
    }
}


/* resetはどうする？ */